/criar arquivos/nbproject/private/
/criar arquivos/build/
/operacoes com sqlite/nbproject/private/
/operacoes com sqlite/build/
/operacoes com Sqlite/nbproject/private/
/Sqlite/nbproject/private/
/Sqlite/build/